<footer class="footer">
  <div class="inner">
    <div class="footer_bottom">
      <div class="footer_copyright">
        <p>© 2024, <strong class="text-brand">Nest</strong> - HTML Ecommerce Template<br/>All rights reserved</p>
      </div>
      <div class="footer_hotline">
        <img src="assets/images/icons/phone-call.svg" alt="phone" width="30" height="38" />
        <p>1900 - 6666 <span>Working 8:00 - 22:00</span></p>
      </div>
      <div class="mobile-social-icon">
        <h6 class="mobile-social-icon_title">Follow Us</h6>
        <ul class="mobile-social-icon_list">
          <li><a href=""><img src="assets/images/icons/icon-facebook-white.svg" width="16" height="30" /></a></li>
          <li><a href=""><img src="assets/images/icons/icon-twitter-white.svg" width="16" height="30" /></a></li>
          <li><a href=""><img src="assets/images/icons/icon-instagram-white.svg" width="16" height="30" /></a></li>
          <li><a href=""><img src="assets/images/icons/icon-pinterest-white.svg" width="16" height="30" /></a></li>
          <li><a href=""><img src="assets/images/icons/icon-youtube-white.svg" width="16" height="30" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
