<div class="product-item">
  <a>
    <div class="product-image">
      <img
        src="assets/images/product/product-1.jpg"
        alt=""
        width="120"
        height="120"
      />
    </div>
    <div class="product-content">
      <span class="category">Snack</span>
      <h3 class="product-title">Seeds of Change Organic Quinoa, Brown, & Red Rice</h3>
      <div>
        <p class="product-price">$28.85</p>
        <button class="btn-cart">
          <span class="material-icons">shopping_cart</span>Add
        </button>
      </div>
    </div>
  </a>
</div>
